{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, quis error, vitae ut consequatur eum a id sapiente eius dolore non alias inventore blanditiis. Quaerat, adipisci facere quos placeat consequuntur itaque odio tempore, aliquid aliquam totam maxime unde rerum ea ab ipsum perferendis delectus commodi odit. Similique suscipit commodi delectus?
    </p>

    <a href="{{ url_for('more') }}">See more...</a>
{% endblock %}