{% extends "layout.html" %}

{% block heading %}
    Second Page

{% endblock %}

{% block body %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor accusamus incidunt nobis non, impedit commodi odio earum pariatur veritatis id alias natus fugit nostrum tempora tempore ea! Fuga repellat quod autem amet quos esse. A illo, commodi rerum odit laboriosam doloribus saepe voluptatibus facere delectus velit minus. Fuga, atque id?
    </p>

    <a href="{{ url_for('index') }}">Go back</a>
{% endblock %}